<div class="form-cpf">
  <div class="container-fluid form-cpf-custom">
    <div class="form-cpf-inside">

      <form [formGroup]="formCpf">
        <div class="form-cpf-image">
          <img class="img-form-cpf" src="../../../assets/img/logo.png" alt="">
        </div>

        <div>
          <label for="cpf" class="form-label"><span style="color: antiquewhite;">CPF</span></label>
          <input
            type="text"
            id="cpf"
            class="form-control input-custom"
            mask="000.000.000-00"
            placeholder="000.000.000-00"
            formControlName="cpf"
            aria-label="Small"
            [ngClass]="{ 'is-valid': formCpf.get('cpf')?.valid ,'is-invalid': formCpf.get('cpf')?.errors && formCpf.get('cpf')?.touched  }"
            aria-describedby="inputGroup-sizing-sm">
        </div>

        <div *ngIf="formCpf.get('cpf')?.hasError('required') && formCpf.get('cpf')?.touched" class="text-danger">
          Valor obrigatório
        </div>
        <div *ngIf="formCpf.get('cpf')?.hasError('minlength')" class="text-danger">
          Mínimo 11 caracteres
        </div>
        <div *ngIf="formCpf.get('cpf')?.hasError('maxlength')" class="text-danger">
          Máximo 11 caracteres
        </div>
        <div style="margin-top: 20px;">
          <button type="button" [disabled]="!formCpf.valid" (click)="conferirCpf()" class="btn btn-outline-light btn-block btn-custom">Avançar</button>
        </div>
      </form>

    </div>
  </div>
</div>
